header {
  text-align: center;
}

textarea[name="user-input"] {
  color: black;
  font-size: 14px;
  width: 95%;
  height: 60px;
  border: 3px solid #dd8bdd;
  border-radius: 9px;
  padding: 15px;
  margin: 15px;
}

.uno, .dos, .tres, .cuatro, .cinco, .seis
{
  background-color: #b39bb3;
  color: white;
  font-size: 18px; 
  padding: 20px;
  margin: 10px; 
  border: 0px solid;
  cursor: pointer;
  width: 100px;
  height: 30px; 
  display: inline-block;
  vertical-align: top;
}

#conteo1, #conteo2, #conteo3, #conteo4, #conteo5, #conteo6
 {
  background-color: #b14eb1;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: 0px solid;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
}

#reset-button {
  background-color: purple;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 0 auto;
  border: 0px solid;
  cursor: pointer;
  text-align: center;
  display: flex;

}

footer {
  text-align: center
}