/* Alinear el texto del encabezado al centro */
header {
  text-align: center;
}

/* Estilos para el área de entrada de texto */
textarea[name="user-input"] {
  color: black;
  font-size: 14px;
  width: 95%;
  height: 60px;
  border: 3px solid #dd8bdd;
  border-radius: 9px;
  padding: 15px;
  margin: 15px auto; /* Alinear al centro horizontalmente */
  display: block; /* Convertirlo en un bloque para ajustar el margen correctamente */
}

/* Estilos para los botones */
.button {
  background-color: #b39bb3;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border: 0;
  cursor: pointer;
  width: 100px;
  height: 30px;
  display: inline-block;
}

/* Estilos para los contadores */
.counter {
  background-color: #b14eb1;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
}

/* Estilos para el botón de reset */
#reset-button {
  background-color: purple;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 15px auto; /* Alinear al centro horizontalmente */
  border: 0;
  cursor: pointer;
  display: block; /* Convertirlo en un bloque para ajustar el margen correctamente */
}

/* Alinear el texto del pie de página al centro */
footer {
  text-align: center;
}
